html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  font-size: 12px; }

body {
  background: url("http://localhost/ENT-sample-project/app/design/image/member/body-background.jpg") 0 0 #eeeeee; }

.page-center {
  width: 960px;
  margin: 0 auto; }

#page-wrapper {
  background: url("http://localhost/ENT-sample-project/app/design/image/member/body-background-radial.png") no-repeat center center;
  height: 100%;
  width: 100%; }

#page-content-wrapper {
  position: absolute;
  width: 800px;
  height: 400px;
  margin-left: -400px;
  margin-top: -200px;
  top: 50%;
  left: 50%; }

.page-content .page-content-left {
  float: left;
  width: 200px;
  margin-right: 16px; }
.page-content .page-content-right {
  float: right;
  width: 584px; }

.box {
  position: relative;
  padding: 12px;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  -webkit-border-top-left-radius: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-radius-topright: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -khtml-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -khtml-border-radius-bottomright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px; }
  .box .box-content {
    position: relative;
    z-index: 1;
    background: #fff;
    -webkit-border-top-left-radius: 3px;
    -khtml-border-radius-topleft: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -khtml-border-radius-topright: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -khtml-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -khtml-border-radius-bottomright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px; }

ul#list li a {
  display: block;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd; }
  ul#list li a:hover {
    background-color: #b3e0ff;
    background-image: -webkit-linear-gradient(top, #b3e0ff, #80ccff);
    background-image: -moz-linear-gradient(top, #b3e0ff, #80ccff);
    background-image: -ms-linear-gradient(top, #b3e0ff, #80ccff);
    background-image: -o-linear-gradient(top, #b3e0ff, #80ccff);
    background-image: linear-gradient(top, #b3e0ff, #80ccff); }
ul#list li:first-child a {
  -webkit-border-top-left-radius: 3px;
  -khtml-border-radius-topleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -khtml-border-radius-topright: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-radius-bottomright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px; }
ul#list li:last-child a {
  -webkit-border-top-left-radius: 0px;
  -khtml-border-radius-topleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-radius-topright: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 3px;
  -khtml-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -khtml-border-radius-bottomright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 0; }
ul#list li:nth-child(even) a {
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(bottom, #e5e5e5, #f5f5f5);
  background-image: -moz-linear-gradient(bottom, #e5e5e5, #f5f5f5);
  background-image: -ms-linear-gradient(bottom, #e5e5e5, #f5f5f5);
  background-image: -o-linear-gradient(bottom, #e5e5e5, #f5f5f5);
  background-image: linear-gradient(bottom, #e5e5e5, #f5f5f5); }
  ul#list li:nth-child(even) a:hover {
    background-color: #b3e0ff;
    background-image: -webkit-linear-gradient(top, #b3e0ff, #80ccff);
    background-image: -moz-linear-gradient(top, #b3e0ff, #80ccff);
    background-image: -ms-linear-gradient(top, #b3e0ff, #80ccff);
    background-image: -o-linear-gradient(top, #b3e0ff, #80ccff);
    background-image: linear-gradient(top, #b3e0ff, #80ccff); }

div#detail {
  padding: 8px 16px; }

.input-submit {
  overflow: hidden;
  height: 1px;
  width: 1px;
  position: relative;
  left: -100000px; }
  .input-submit input {
    position: relative;
    left: -100000px; }
